<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>index</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<link type="text/css" th:href="@{/static/layui/css/layui.css}" rel="stylesheet" />

</head>
<body>
<a href="/quartz_add" class="layui-btn">添加</a>
<a href="http://www.layui.com" class="layui-btn layui-btn-primary">停止</a>
<a href="http://www.layui.com" class="layui-btn layui-btn-normal">修改</a>
<a href="/quartz" class="layui-btn layui-btn-warm">查询</a>
<a href="/quartz_del" class="layui-btn layui-btn-danger">删除</a>

</body>
</html>